img {
  width: 100%;
}

.bg-dark,
.bg-info {
    background-color: #b31a1a !important;
}

a {
  color: #b31a1a;
}

a:hover {
  color: #a81201;
  text-decoration: none;
}

.text-info {
  color: #b31a1a !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,.8);
}

.btn-info {
  background-color: #a81201 !important;
  border-color: #a81201 !important;
}

.btn-info:hover {
  background-color: #b31a1a !important;
  border-color: #b31a1a !important;
}

.btn-light,
.btn-dark {
  background-color: #b4b4b4 !important;
  border-color: #b4b4b4 !important;
  color: #fff !important;
}

.btn-light:hover,
.btn-dark:hover {
  background-color: #414141 !important;
  border-color: #414141 !important;
  color: #fff !important;
}

.landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.btn-dark:hover {
  text-decoration: unset;
}
